/* PHẦN FOOTER */
#footer {
  position: relative;
  //   display: inline-flex;
  justify-content: center;
  min-width: 100%;
  animation: fadeIn ease 2s;
}
.background_black {
  background-color: $color_black;
  //   width: 100%;
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0.8rem;
  /* Tablet */
  //   padding-right: 50px;
}
.footerbox {
  flex: 0.6 0.2 0.1;
  justify-content: space-around;
}
.footer_box {
  width: 100%;
}
.footer_box--3,
.footer_box--1 {
  display: flex;

  justify-content: space-around;
}
.footer_box--1--content {
}
.footer_box--2 {
  text-align: center;
}
.fontw {
}
.email_button {
  margin: auto;
  height: 2rem;
  width: 70%;
}.footer_box--3{
  display:none;
}
