/* PHẦN MAIN-CONTAIN */
/* PHẦN MAIN-ONE */
@import "part1";

/* PHẦN MAIN-TWO */

@import "part2";

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN THỨ BA */
@import "part3";
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FOUR */
@import "part4";
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FIVE */
.main-five {
  margin: 3rem 0rem;
}
.main-five_content {
  height: 235px;
  margin: 0px 50px 0px 50px;
  display: flex;
  position: relative;

  justify-content: space-around;
}
.top--five {
  text-align: center;
}

.img-five {
  width: 225px;
  height: 230px;
  border-radius: 5px;
}
.content-five {
  align-items: flex-start;
  position: relative;
}
.label--five {
  position: absolute;
  top: 0rem;
}
.seeall--five {
  color: #f77e23;
  padding: 10px;
  padding-right: 45px;
  float: right;
}
.left1--five,
.right1--five {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
  height: 40px;
  border: none;
}
.moves--five {
  position: absolute;
  top: 7rem;
}
.right--five {
  float: right;
  /* right: 20%; */
}
.left--five {
  float: left;
}
.img-five::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 225px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.7);
  /*Màu đen với độ mờ 50%*/
}
.img-five--1 {
  background-image: url(/src/IMG/pic1-p5.png);
  background-position: center;
  background-size: cover;
}
.img-five--2 {
  background-image: url(/src/IMG/pic2-p5.png);
  background-position: center;
  background-size: cover;
}
.img-five--3 {
  background-image: url(/src/IMG/pic3-p5.png);
  background-position: center;
  background-size: cover;
}
.img-five--4 {
  background-image: url(/src/IMG/pic4-p5.png);
  background-position: center;
  background-size: cover;
}
div.label--five {
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-top: 160px;
}
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-SIx */
.main-six {
}
.main-six_background {
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
  padding: 50px 0px 50px 0px;
  display: flex;
}
.main-six_content1 {
  flex-basis: 50%;
  text-align: right;
  padding: 50px 10px 50px 50px;
  position: relative;
}
.main-six_content2 {
  flex-basis: 50%;
  text-align: left;
  padding: 50px 100px 50px 50px;
}

.border_dashed--six {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border: 3.38px 0px 0px 0px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
}
.img-boy--six {
  width: 250.19px;
  height: 370.19px;
  top: 0rem;
  left: 6.5rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/theboyhair.png);
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
/* FORM main6*/
form.form--six {
  margin: 0 5px 5px;
  background-color: #ffffff;
  padding: 2rem 3rem 4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 30px 20px;
}
.main-six_content2 {
  padding: 1rem 0.8rem;
}
.input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
}
.information {
  margin: 1rem 0;
  background-color: rgb(255, 255, 255);
  height: 2.5rem;
  min-width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
}
.button--six {
  background-color: var($color_main);
  color: var($color_while);
  height: 2rem;
  width: 7rem;
  border-radius: 5px;
  border: 0;
}
div.button--six {
  margin: 0 0;
  float: right;
}
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-Seven GIỐNG PHẦN one*/
.img-one3--seven,
.img-one4--seven {
  width: 225px;
  height: 360px;
}
.moves--one--seven {
  /* width: fit-content; */
  /* width: 1100px; */
  position: absolute;
  top: 5150px;
}

.img-one3--seven {
  background-image: url(/src/IMG/pic3-p5.png);
  background-position: center;
  background-size: cover;
}
.img-one4--seven {
  background-image: url(/src/IMG/pic4-p5.png);
  background-position: center;
  background-size: cover;
}

.label--seven {
  top: -3rem;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-EIGHT */
.main-eight {
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
  margin: 50px 0px 50px 0px;
}
.main-four_content1--eight {
  flex-basis: 65%;
}
.main-four_content2--eight {
  flex-basis: 35%;
}
.img-book--eight {
  width: 299.05px;
  height: 299.05px;
  top: 3rem;
  left: 2rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/thebook.png);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.examination--eight {
  font-family: Verdana;
  font-size: 40px;
}
button.test--eight {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}
div.test--eight {
  padding-top: 40px;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-NINE GIỐNG PHẦN 5*/
/* ----------------------------------------------------------------------------------------------- */
/* <!-- PHẦN THỨ MƯỜI --> */
.review {
  font-size: 2rem;
}
.content_ten {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: auto;
}
.box-ten {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.box--one {
  font-size: 3rem;
  width: 30%;
  flex: 1;
  margin: 1rem;
}
.box {
  flex: 1;
  margin: 1rem;
}
.students {
  font-size: 3rem;
  margin-bottom: 0%;
}
.moves--ten {
  justify-content: left;
}
.left--ten,
.right--ten {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #f77e23;
  background-color: var($color_while);
  margin: 1rem;
}
.shadow {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aqua {
  display: flex;
  margin: 1.5rem 0.5rem;
}
.aqua_label--label {
  margin: 0 1rem;
}
.aqua_img--one {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: right;

  background-image: url(/src/IMG/rv-one.jpg);
  border-radius: 50%;
}
.aqua_img--two {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-image: url(/src/IMG/rv-two.jpg);
  border-radius: 50%;
}
/* -------------------------------------------------------- */
