/* PHẦN MAIN-FOUR */
.main-four {
  margin: 7rem 0 0;
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
}
.main-four_content2 {
  flex-basis: 50%;
  position: relative;
  text-align: right;
  margin: 100px 0px 100px 100px;
}

.main-four_content1 {
  flex-basis: 50%;
  text-align: left;
  margin: 6rem 0 0;
  padding-left: 6rem;
}

.border_dashed--four {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}
.img-girl--four {
  width: 403px;
  height: 403px;
  top: -3.5rem;
  right: 7rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/thegirlhair.png);
  background-position: center top;
  transform: scaleX(-1);
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.examination {
  font-family: Verdana;
  font-size: 40px;
}
button.test {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}
div.test {
  margin: 3rem 0;
}

/* ----------------------------------------------------------------------------------------------- */
