.navbar {
  display: none;
}
/* Pc */
@media (min-width: 1026px) {
}
/* Tablet */
@media (max-width: 1025px) {
  .course-item {
    flex-basis: 40%;
  }
  .header__nav {
    width: 100vw;
  }
  .moves {
    display: none;
  }
  .up {
    display: none;
  }
  .main-one_content {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .course-item {
    flex-basis: 45%;
  }
  img.course-img-item {
    height: 180px;
  }
  .shadow {
    padding: 0.8rem;
  }
  .img-girl--four {
    right: 6rem;
  }
}

@media (max-width: 770px) {
  #header {
    display: block;
  }

  .gird {
    margin: 0;
  }
  .navbar {
    display: flex;
    flex-basis: 0.2 0.6 0.2;
    background-color: #fff;
    height: 10%;
    width: 100%;
    justify-content: space-between;
  }
  .bars--1,
  .bars--3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 20%;
  }
  li.bars--2 {
    width: 80%;
  }

  .header__nav {
    display: none;
  }
  .khoinho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: unset;
    width: 65%;
    height: 7.5rem;
    font-size: 1.5rem;
    box-shadow: none;
    text-align: center;
    margin: auto;
  }
  .main {
    margin: 7rem 0rem;
  }
  .main-one {
    margin: 7rem 0rem;
  }
  .main-two--flex,
  .main-four--flex,
  .main-six--flex,
  .main-eight--flex {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .main-four_content1--eight,
  .main-two_content2,
  .main-four_content1,
  .main-six_content2 {
    text-align: center;
    padding: 3rem 0rem;
  }
  .img-girl--four {
    right: 2rem;
  }
  .main-five_content {
    width: 100vh;
    height: 235px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .content_ten {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .main-two_content2,
  .main-two_content1,
  .main-four_content2,
  .main-eight_content2,
  .main-four_content1 {
    margin-top: 2rem;
  }
  .shadow {
    width: 108%;
  }
  .gird {
    margin: auto;
  }
  .students {
    font-size: 2.5rem;
  }
}
/* Mobie */
@media (max-width: 430px) {
  .moves {
    display: none;
  }
  .khoinho {
    width: 80%;
    font-size: 1rem;
  }
  .main {
    margin: 4rem 1rem;
    font-size: smaller;
  }
  .center {
    font-size: 2.5rem;
  }
  .up {
    display: none;
  }
  .header__background {
    height: 29rem;
  }
  .main-one {
    margin-top: 2rem;
  }
  .img_one {
    width: 150px;
    height: 250px;
    border-radius: 0.5rem;
  }
  .img_one::after {
    width: 150px;
    height: 250px;
    border-radius: 0.5rem;
  }
  .label {
    top: -12rem;
    text-align: center;
    margin: auto;
    width: 130px;
  }
  .course-item {
    flex-basis: 47%;
    width: 47%;
    /* height: 251px; */
    font-size: 12px;
  }
  td {
    font-size: smaller;
  }
  .course-td-item {
    font-size: smaller;
    margin: 0.2rem;
  }
  img.course-img-item {
    height: 90px;
  }
  .course {
    margin: 0.5rem;
  }
  .course-money-item {
    font-size: smaller;
  }

  .students,
  .examination,
  .examination--eight,
  h1 {
    font-size: 2rem;
  }
  .box-ten {
    flex-direction: column;
  }
  .box--one {
    width: 60%;
  }
  .moves--ten {
    display: block;
    top: 15rem;
    right: -16rem;
  }
  .shadow {
    width: 19rem;
  }
  .main-footer--flex {
    flex-direction: column-reverse;
  }
  .footer_box--1 {
    display: none;
  }
  .footer_box--3 {
    display: block;
  }
  .footer_box--2 {
    text-align: left;
  }
  .input {
    width: 100%;
  }
  .gird {
    margin: 0;
  }
}
