@charset "UTF-8";
:root {
  --color_main: #f77e23;
  --domo: rgba(0, 0, 0, 0.5);
  --color_while: #ffff;
  --color_black: #000;
  --background_main: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
}

/* Đặt biến phụ toàn cục*/
* {
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: inherit;
  /* font-size: medium; */
  outline: none;
}

html {
  /* 1rem=10px */
  /* font-size: 62.5%; */
  font-size: 100%;
  /* độ cao khoảng cách các dòng chữ */
  line-height: normal;
  /* font chữ  */
  /* font-family: "Pacifico", cursive; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0px;
}

.gird {
  width: 70rem;
  max-width: 100%;
  margin: 50px auto;
}

.gird--center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.gird--center--row {
  flex-direction: row;
}

.gird--center--column {
  flex-direction: column;
}

li,
a {
  color: black;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  margin: 0.2rem;
}

img {
  image-rendering: pixelated;
}

.icon_while {
  color: #ffffff;
  width: 1rem;
  height: 1rem;
  margin: auto auto;
  padding: 0 1.2rem;
}

.icon_colormain {
  color: var(--color_main);
  width: 1rem;
  height: 1rem;
  margin: auto auto;
  padding: 0 1.2rem;
}

.icon_button {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin: 1rem auto;
}

.top {
  margin: 0 auto;
  text-align: center;
  margin: 30px;
}

.moves {
  min-width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.box_moves {
  position: absolute;
  background-color: var(--color_while);
  width: 148px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.2509803922);
  display: flex;
  /* margin: 0 auto; */
}

.boxmoves {
  justify-content: center;
  margin: 0 auto;
  line-height: 0.9rem;
  text-align: center;
}

.box_moves--4 {
  top: 8rem;
  left: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.box_moves--6 {
  top: 9rem;
  left: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.box_moves--8 {
  top: 7rem;
  left: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

button.enroll {
  text-align: center;
}

/* PHẦN HEADER*/
#header {
  position: relative;
  display: inline-flex;
  justify-content: center;
  height: 40rem;
  min-width: 100%;
  animation: fadeIn ease 2s;
}

.header__background {
  width: 100%;
  height: 35.5rem;
  background-image: url(/src/IMG/cogainew.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__head {
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}

li.head > a {
  text-decoration: none;
}

li > a.head {
  color: #ffffff;
}

li.head--login {
  margin-left: 0;
  padding-left: 0;
}

.header__nav {
  display: flex;
}

.nav__head1,
.head1 {
  flex-basis: 25%;
  font-size: larger;
  padding: 0 0 0 2rem;
  color: #f77e23;
  margin: auto 0;
}

.nav__head3 {
  flex-basis: 25%;
  margin: auto 0;
}

.nav__head2 {
  flex-basis: 50%;
  margin: auto 0;
}

.regiter1 {
  width: 107px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  color: #f77e23;
}

.center,
.center1 {
  color: white;
}

.center {
  font-size: 3rem;
}

.khoinho {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40rem;
  height: 5.5rem;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0.5rem 0.5rem 0px rgba(207, 207, 207, 0.2509803922);
}

.khoinho1 {
  display: flex;
}

.head--khoinho2 {
  color: black;
  padding: 10px;
  margin: 0 0;
}

.main {
  text-align: center;
}

.start {
  margin: 3.5rem;
}

.start1 {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  background-color: #f77e23;
  color: white;
}

.search {
  width: 15px;
  padding: 0 10px 0 0;
}

.up1 {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
  height: 40px;
  border: none;
}

.up {
  border: 0;
  margin: 1rem 8rem 0 0;
  direction: rtl;
}

.khoinho1_1 {
  padding: 0 10px 20px 10px;
  text-align: center;
}

.khoinho3 {
  width: 20px;
  padding: 0 10px 0 0;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN FOOTER*/
/* PHẦN MAIN-CONTAIN */
/* PHẦN MAIN-ONE */
/* PHẦN MAIN-ONE */
#main-content {
  display: block;
}

.main-one {
  display: block;
}

.endline {
  justify-items: flex-end;
  color: #f77e23;
  text-align: right;
  margin-right: 2.5rem;
}

.main-one_content {
  position: relative;
  margin: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-around;
}

.img_one {
  width: 225px;
  height: 360px;
  position: relative;
}

.img_one::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 225px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.7);
}

.content-one {
  align-items: flex-start;
  padding: 15px;
  box-sizing: initial;
  position: relative;
}

.label {
  position: absolute;
  top: 1rem;
  font-size: larger;
}

.left1,
.right1 {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
  height: 40px;
  border: none;
}

.moves--one {
  top: 20rem;
}

.right {
  float: right;
  margin-right: 3.5rem;
}

.left {
  float: left;
  margin-left: 3.5rem;
}

.img_one--1 {
  background-image: url(/src/IMG/img1_one.png);
  background-position: center;
  background-size: cover;
}

.img_one--2 {
  background-image: url(/src/IMG/img2_one.jpg);
  background-position: center;
  background-size: cover;
}

.img_one--3 {
  background-image: url(/src/IMG/img3_one.jpg);
  background-position: center;
  background-size: cover;
}

.img_one--4 {
  background-image: url(/src/IMG/img4_one.jpg);
  background-position: center;
  background-size: cover;
}

div.label {
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-top: 300px;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-TWO */
/* PHẦN MAIN-TWO */
.main-two {
  background-image: var(--background_main);
}

.main-two_content1 {
  flex-basis: 40%;
  text-align: right;
  padding: 60px 20px 60px 60px;
  position: relative;
}

.main-two_content2 {
  flex-basis: 60%;
  text-align: left;
  padding: 50px 100px 50px 50px;
}

.border_dashed {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
  margin-top: 20px;
}

.img-girl {
  width: 383px;
  height: 453px;
  top: -3rem;
  left: 4.5rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/girl.png);
  background-position: right;
  border-radius: 50%;
  border-top-left-radius: 250%;
  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 200%;
  background-repeat: no-repeat;
  position: absolute;
}

.experts {
  font-family: Verdana;
  font-size: 40px;
}

button.enroll {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}

div.enroll {
  padding-top: 40px;
}

/* Phần khôi nhỏ 2 */
.box_moves--2 {
  top: 226px;
  left: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.img_tripple {
  display: flex;
  max-width: 6rem;
  position: relative;
  justify-content: center;
}

.img_tripple_boy {
  position: absolute;
  flex: 1;
  margin: 0 10px;
  /* margin: 0.1rem; */
  padding: 10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url(/src/IMG/triple_boy.jpg);
}

.img_tripple_boy--1 {
  margin-left: -2.5rem;
}

.img_tripple_boy--3 {
  margin-left: 3.5rem;
}

/* .img_while{
      position: absolute;
      flex: 1;
      margin: 0 10px;
      /* margin: 0.1rem; 
      padding: 10px;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    } 
    */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN THỨ BA */
/* PHẦN THỨ BA */
.main-three {
  display: block;
}

img.course-img-item {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.course {
  display: flex;
  margin: 0 2.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-item {
  flex-basis: 30%;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-table-item {
  width: 100%;
  margin: 0.5rem;
}

.course-td-item {
  font-size: large;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.star-people {
  width: 15px;
  height: 15px;
}

.course-money-item {
  text-align: center;
  font-size: large;
  color: #f77e23;
}

button.down {
  color: #ffffff;
  background-color: #f77e23;
  border-radius: 100px 100px 100px 100px;
  border: 0;
  width: 7.5rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FOUR */
/* PHẦN MAIN-FOUR */
.main-four {
  margin: 7rem 0 0;
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
}

.main-four_content2 {
  flex-basis: 50%;
  position: relative;
  text-align: right;
  margin: 100px 0px 100px 100px;
}

.main-four_content1 {
  flex-basis: 50%;
  text-align: left;
  margin: 6rem 0 0;
  padding-left: 6rem;
}

.border_dashed--four {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

.img-girl--four {
  width: 403px;
  height: 403px;
  top: -3.5rem;
  right: 7rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/thegirlhair.png);
  background-position: center top;
  transform: scaleX(-1);
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.examination {
  font-family: Verdana;
  font-size: 40px;
}

button.test {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}

div.test {
  margin: 3rem 0;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FIVE */
.main-five {
  margin: 3rem 0rem;
}

.main-five_content {
  height: 235px;
  margin: 0px 50px 0px 50px;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.top--five {
  text-align: center;
}

.img-five {
  width: 225px;
  height: 230px;
  border-radius: 5px;
}

.content-five {
  align-items: flex-start;
  position: relative;
}

.label--five {
  position: absolute;
  top: 0rem;
}

.seeall--five {
  color: #f77e23;
  padding: 10px;
  padding-right: 45px;
  float: right;
}

.left1--five,
.right1--five {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
  height: 40px;
  border: none;
}

.moves--five {
  position: absolute;
  top: 7rem;
}

.right--five {
  float: right;
  /* right: 20%; */
}

.left--five {
  float: left;
}

.img-five::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 225px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.7);
  /*Màu đen với độ mờ 50%*/
}

.img-five--1 {
  background-image: url(/src/IMG/pic1-p5.png);
  background-position: center;
  background-size: cover;
}

.img-five--2 {
  background-image: url(/src/IMG/pic2-p5.png);
  background-position: center;
  background-size: cover;
}

.img-five--3 {
  background-image: url(/src/IMG/pic3-p5.png);
  background-position: center;
  background-size: cover;
}

.img-five--4 {
  background-image: url(/src/IMG/pic4-p5.png);
  background-position: center;
  background-size: cover;
}

div.label--five {
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-top: 160px;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-SIx */
.main-six_background {
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
  padding: 50px 0px 50px 0px;
  display: flex;
}

.main-six_content1 {
  flex-basis: 50%;
  text-align: right;
  padding: 50px 10px 50px 50px;
  position: relative;
}

.main-six_content2 {
  flex-basis: 50%;
  text-align: left;
  padding: 50px 100px 50px 50px;
}

.border_dashed--six {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border: 3.38px 0px 0px 0px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
}

.img-boy--six {
  width: 250.19px;
  height: 370.19px;
  top: 0rem;
  left: 6.5rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/theboyhair.png);
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

/* FORM main6*/
form.form--six {
  margin: 0 5px 5px;
  background-color: #ffffff;
  padding: 2rem 3rem 4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 30px 20px;
}

.main-six_content2 {
  padding: 1rem 0.8rem;
}

.input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
}

.information {
  margin: 1rem 0;
  background-color: rgb(255, 255, 255);
  height: 2.5rem;
  min-width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
}

.button--six {
  background-color: var(--color_main);
  color: var(--color_while);
  height: 2rem;
  width: 7rem;
  border-radius: 5px;
  border: 0;
}

div.button--six {
  margin: 0 0;
  float: right;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-Seven GIỐNG PHẦN one*/
.img-one3--seven,
.img-one4--seven {
  width: 225px;
  height: 360px;
}

.moves--one--seven {
  /* width: fit-content; */
  /* width: 1100px; */
  position: absolute;
  top: 5150px;
}

.img-one3--seven {
  background-image: url(/src/IMG/pic3-p5.png);
  background-position: center;
  background-size: cover;
}

.img-one4--seven {
  background-image: url(/src/IMG/pic4-p5.png);
  background-position: center;
  background-size: cover;
}

.label--seven {
  top: -3rem;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-EIGHT */
.main-eight {
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
  margin: 50px 0px 50px 0px;
}

.main-four_content1--eight {
  flex-basis: 65%;
}

.main-four_content2--eight {
  flex-basis: 35%;
}

.img-book--eight {
  width: 299.05px;
  height: 299.05px;
  top: 3rem;
  left: 2rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/src/IMG/thebook.png);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.examination--eight {
  font-family: Verdana;
  font-size: 40px;
}

button.test--eight {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}

div.test--eight {
  padding-top: 40px;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-NINE GIỐNG PHẦN 5*/
/* ----------------------------------------------------------------------------------------------- */
/* <!-- PHẦN THỨ MƯỜI --> */
.review {
  font-size: 2rem;
}

.content_ten {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: auto;
}

.box-ten {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.box--one {
  font-size: 3rem;
  width: 30%;
  flex: 1;
  margin: 1rem;
}

.box {
  flex: 1;
  margin: 1rem;
}

.students {
  font-size: 3rem;
  margin-bottom: 0%;
}

.moves--ten {
  justify-content: left;
}

.left--ten,
.right--ten {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #f77e23;
  background-color: var(--color_while);
  margin: 1rem;
}

.shadow {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aqua {
  display: flex;
  margin: 1.5rem 0.5rem;
}

.aqua_label--label {
  margin: 0 1rem;
}

.aqua_img--one {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: right;
  background-image: url(/src/IMG/rv-one.jpg);
  border-radius: 50%;
}

.aqua_img--two {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-image: url(/src/IMG/rv-two.jpg);
  border-radius: 50%;
}

/* -------------------------------------------------------- */
/* PHẦN FOOTER */
#footer {
  position: relative;
  justify-content: center;
  min-width: 100%;
  animation: fadeIn ease 2s;
}

.background_black {
  background-color: var(--color_black);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0.8rem;
  /* Tablet */
}

.footerbox {
  flex: 0.6 0.2 0.1;
  justify-content: space-around;
}

.footer_box {
  width: 100%;
}

.footer_box--3,
.footer_box--1 {
  display: flex;
  justify-content: space-around;
}

.footer_box--2 {
  text-align: center;
}

.email_button {
  margin: auto;
  height: 2rem;
  width: 70%;
}

.footer_box--3 {
  display: none;
}

li.head > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

/* phần main one */
.img_one:hover.img_one::after {
  display: none;
}

/* phần main five */
.img-five:hover.img-five::after {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  display: none;
}

/* Pc */
/* Tablet */
@media (max-width: 1025px) {
  .course-item {
    flex-basis: 40%;
  }
  .header__nav {
    width: 100vw;
  }
  .moves {
    display: none;
  }
  .up {
    display: none;
  }
  .main-one_content {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .course-item {
    flex-basis: 45%;
  }
  img.course-img-item {
    height: 180px;
  }
  .shadow {
    padding: 0.8rem;
  }
  .img-girl--four {
    right: 6rem;
  }
}
@media (max-width: 770px) {
  #header {
    display: block;
  }
  .gird {
    margin: 0;
  }
  .navbar {
    display: flex;
    flex-basis: 0.2 0.6 0.2;
    background-color: #fff;
    height: 10%;
    width: 100%;
    justify-content: space-between;
  }
  .bars--1,
  .bars--3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 20%;
  }
  li.bars--2 {
    width: 80%;
  }
  .header__nav {
    display: none;
  }
  .khoinho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: unset;
    width: 65%;
    height: 7.5rem;
    font-size: 1.5rem;
    box-shadow: none;
    text-align: center;
    margin: auto;
  }
  .main {
    margin: 7rem 0rem;
  }
  .main-one {
    margin: 7rem 0rem;
  }
  .main-two--flex,
  .main-four--flex,
  .main-six--flex,
  .main-eight--flex {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .main-four_content1--eight,
  .main-two_content2,
  .main-four_content1,
  .main-six_content2 {
    text-align: center;
    padding: 3rem 0rem;
  }
  .img-girl--four {
    right: 2rem;
  }
  .main-five_content {
    width: 100vh;
    height: 235px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .content_ten {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .main-two_content2,
  .main-two_content1,
  .main-four_content2,
  .main-eight_content2,
  .main-four_content1 {
    margin-top: 2rem;
  }
  .shadow {
    width: 108%;
  }
  .gird {
    margin: auto;
  }
  .students {
    font-size: 2.5rem;
  }
}
/* Mobie */
@media (max-width: 430px) {
  .moves {
    display: none;
  }
  .khoinho {
    width: 80%;
    font-size: 1rem;
  }
  .main {
    margin: 4rem 1rem;
    font-size: smaller;
  }
  .center {
    font-size: 2.5rem;
  }
  .up {
    display: none;
  }
  .header__background {
    height: 29rem;
  }
  .main-one {
    margin-top: 2rem;
  }
  .img_one {
    width: 150px;
    height: 250px;
    border-radius: 0.5rem;
  }
  .img_one::after {
    width: 150px;
    height: 250px;
    border-radius: 0.5rem;
  }
  .label {
    top: -12rem;
    text-align: center;
    margin: auto;
    width: 130px;
  }
  .course-item {
    flex-basis: 47%;
    width: 47%;
    /* height: 251px; */
    font-size: 12px;
  }
  td {
    font-size: smaller;
  }
  .course-td-item {
    font-size: smaller;
    margin: 0.2rem;
  }
  img.course-img-item {
    height: 90px;
  }
  .course {
    margin: 0.5rem;
  }
  .course-money-item {
    font-size: smaller;
  }
  .students,
  .examination,
  .examination--eight,
  h1 {
    font-size: 2rem;
  }
  .box-ten {
    flex-direction: column;
  }
  .box--one {
    width: 60%;
  }
  .moves--ten {
    display: block;
    top: 15rem;
    right: -16rem;
  }
  .shadow {
    width: 19rem;
  }
  .main-footer--flex {
    flex-direction: column-reverse;
  }
  .footer_box--1 {
    display: none;
  }
  .footer_box--3 {
    display: block;
  }
  .footer_box--2 {
    text-align: left;
  }
  .input {
    width: 100%;
  }
  .gird {
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */