:root {
  --color_main: #f77e23;
  --domo: rgba(0, 0, 0, 0.5);
  --color_while: #ffff;
  --background_main:  linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);

}
* {
  box-sizing: inherit;
}
html {
  /* 1rem=16px */
  font-size: 100%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
#wrepper {
  min-width: fit-content;
}


