.gird {
  width: 70rem;
  max-width: 100%;
  margin: 50px 20px;
}
.gird--center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.gird--center--row {
  flex-direction: row;
}
.gird--center--column {
  flex-direction: column;
}
li,
a {
  color: black;
}
li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  margin: 0.2rem;
}
img {
  image-rendering: pixelated;
}
.icon_while {
  color: #ffffff;
  width: 1rem;
  height: 1rem;
  margin: auto auto;
  padding: 0 1.2rem;
}
.icon_colormain {
  color: var(--color_main);
  width: 1rem;
  height: 1rem;
  margin: auto auto;
  padding: 0 1.2rem;
}
.icon_button{
    margin: 0;
    padding: 0;
}
h1 {
  font-size: 3rem;
  margin: 1rem auto;
}
.top {
  margin: 0 auto;
  text-align: center;
  margin: 30px;
}
.moves {
  min-width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
