/* PHẦN MAIN-TWO */
.main-two {
  background-image: linear-gradient(30deg, rgba(247, 126, 25, 0.4), #ffffff);
}
.gird--center--row {
  flex-direction: row;
}
.main-two_content1 {
  flex-basis: 40%;
  text-align: right;
  padding: 60px 20px 60px 60px;
  position: relative;
}
.main-two_content2 {
  flex-basis: 60%;
  text-align: left;
  padding: 50px 100px 50px 50px;
}

.border_dashed {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
  margin-top: 20px;
}
.img-girl {
  width: 383px;
  height: 453px;
  top: -3rem;
  left: 4.5rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(https://s3-alpha-sig.figma.com/img/f679/e89e/3073efae152fa1d410419f79ad0b861e?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z-COMvi6pA1Cy6-E5vWzKbkvTpWzTqWUXQmGBo37FefLfLC4y~rnkcyGQWOSpTeRsVFf29zr1yGm2rYL8sASmCxkEh4WJI19UzW0P3Ckjr2Z5ClNFtV0OwIrGDsOpsreclb90sAguJ6NczCIkcmlq6nxkpWjTIws9eNvGOjc2v8veZdHY0wwcq7ZNrrZmJ1AlVEhOTYVhuT3lBr5Vxr8e7RC-pbKDvoZR0Oi6k-5UuspKHYS0WDdVhOyIVmqzHbQYZrrvJ6wp-nEXXVl0IyAb-7hjtDtf7IzxNXG7XS15RuZJHNve3Y3IqvpE-EP-YBjAihAvUcdEYaK1sDYnNIHmQ__);
  background-position: right;
  border-radius: 50%;
  border-top-left-radius: 250%;
  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 200%;
  background-repeat: no-repeat;
  position: absolute;
}

.experts {
  font-family: Verdana;
  font-size: 40px;
}
button.enroll {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}
div.enroll {
  padding-top: 40px;
}

/* ----------------------------------------------------------------------------------------------- */
