body {
  margin: 0 0;
  width: 1100px;
}
/* PHẦN HEADER*/
img {
  image-rendering: pixelated;
}
.gird {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
#wrepper {
  padding: 0 0;
  margin: 0 0;
}
#header {
  width: fit-content;
  height: 552px;
  background-image: url(IMG/cogainew.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0;
  margin: 0 0;
  /* opacity: 0.5 black; */
  /* filter: opacity(0.3); */
}
ul > li {
  list-style: none;
  display: inline-block;
  /* margin: 0 8px; */
  padding: 15px;
}
.head {
  display: flex;
  justify-content: space-between;
}
.head1 {
  flex-basis: 25%;
  font-size: larger;
  padding-left: 2rem;
  color: #f77e23;
}
.head3 {
  flex-basis: 25%;
  padding-left: none;
}
.head2 {
  flex-basis: 50%;
}
.regiter1 {
  width: 107px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  color: #f77e23;
}
li,
a {
  font-size: 1rem;
  color: white;
  font-weight: 300;
}
.center,
.center1 {
  /* display: center; */
  /* margin: auto; */
  /* justify-content: center; */
  color: white;
}
.center {
  font-size: 3rem;
}

.khoinho {
  position: absolute;
  align-content: center;
  display: inline-block;
  width: 459px;
  height: 16px;
  top: 508px;
  left: 20%;
  padding: 38px 108px 38px 108px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 21px 97px 0px #cfcfcf40;
}

.khoinho1 > ul > li {
  display: inline-block;
  padding: 10px;
}
.khoinho2 {
  color: black;
  padding: 20px;
}
.main {
  text-align: center;
}
.start {
  padding: 20px;
}
.start1 {
  /* position: absolute; */
  /* vertical-align: center; */
  width: 157px;
  height: 60px;
  /* padding: 15px; */
  border-radius: 5px;
  border: 0;
  background-color: #f77e23;
  color: white;
}
.search {
  width: 15px;
  padding: 0 10px 0 0;
}
.up1 {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
}
.up {
  float: right;
  padding-right: 40px;
  position: absolute;
  border: 0;
  top: 508px;
  right: 8%;
}
.khoinho1_1 {
  padding: 0 10px 20px 10px;
  text-align: center;
}
.khoinho3 {
  width: 20px;
  padding: 0 10px 0 0;
}
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-CONTAIN */
/* PHẦN MAIN-ONE */
#main-content {
  /* width: fit-content; */
  width: 1100px;
  padding: 100px 0px 100px 0px;
}
.main-one {
  /* width: fit-content; */
  width: 1100px;
  padding: 0px 0px 100px 0px;
}
.main-one_content {
  /* width: fit-content; */
  width: 1100px;
  margin: 0px 50px 0px 50px;

  display: flex;
}
.top {
  text-align: center;
  padding: 25px;
}
.img-one1,
.img-one2,
.img-one3,
.img-one4 {
  width: 225px;
  height: 360px;
}
.content-one {
  align-items: flex-start;
  padding: 15px;
}
.seeall {
  color: #f77e23;
  padding: 10px;
  padding-right: 45px;
  float: right;
}
.left1,
.right1 {
  border-radius: 50%;
  background-color: #f77e23;
  width: 40px;
  height: 40px;
}
.moves {
  /* width: fit-content; */
  width: 1100px;
  position: absolute;
  top: 1000px;
}
.right {
  float: right;
  padding-right: 90px;
  /* right: 20%; */
}
.left {
  float: left;
  left: 8%;
}
.img-one1 {
  background-image: url(https://s3-alpha-sig.figma.com/img/89a5/eca5/51b9ddd08528fa87910fcc06cd98806f?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=p81tixqxgC7yd6f-s9-qhQFv2CRgauXqLg5iGRkS23dUI-SYAc7f5H3n6-aIgExyD5FacCN2gdFnu8OUTtoWJgxBV0JvzsxBU3UthZzvaGpNcp6Mvc7Xq8Gl9U1sFOh-36Oy6bO0h9rbIvjjJPodF6Zul4y6ms3sr-GZP4I8OiQen1UugApfLE4wdVUxiJF2LFOS2k4kl4yr69Jl6Y4caX-s54wufHE0wCzSurVHUxYlh1zRnVk1l8O35EgvTBiEb6rLpoB9aw1l09frbYYNOT2Q1BxyXjzJSwJ9unQIhcsdmnDW7TfPIFzjCirOTmGWaRcDzA0NWN3BUbUDOPuCAQ__);
  background-position: center;
  background-size: cover;
}
.img-one2 {
  background-image: url(https://s3-alpha-sig.figma.com/img/20a8/a730/69a434b38272a77f19e0ecc68e5090b3?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qx00BpCheQxMDQEYpd2HciYWXy5BJw~ctb1nTB3pG-9bJlso3CMHLKQXjYv7yVp02xNElYnEptlYRwWI4Aq9AcnKDBRBC6tbnpGe8uSrCRpRpLqKusplKdgOS-czv6F9QyN954gBasoavH7Cdn1535N1LrQEQ3ez6gLYtlwU9m11RI1Kf--ulY5Wnz2bSUoqb6f3ZASHRKeD4e8F6lRlNRPDxT8NEev8Za2x5~iGksVWpJcX6MgBryArQ7wSnkFseH8-AtWRSVwL7jvAKDKlUgd9OcwUq1nkTbtSf5dCjasCzoRhYvokfZNMx4gr9fHUSw8ul~C6NZRZLo~s0x9yMQ__);
  background-position: center;
  background-size: cover;
}
.img-one3 {
  background-image: url(https://s3-alpha-sig.figma.com/img/5227/685f/70018d1d28242cb4d62f3e25f3117acb?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QBO18kXOwKPId~fo~zan-PMfTdFuDjNRrI2GSNeV3RJKZCaQyu8lzWj100CqrzeQFWkg27lstc2qHzLVrVo58KilXgBXmii3LCTlD3MJEDMGuw8HlHBB41f6R-2ZytOQ4ZLaWOKw4Thh0bDga46whVHnC~BC22XfIvd6mSAuO7UCwrH662MN3QyMwRZOMswls2OuaLdln0rXKhPqK5zDrS4NrWsMIdtlmAcNqmHOtourRVZyfy8y5XygImpgLtzy1lbxNoo6xUPrOpUV1xTSJuqEwcGcy46EJVQas1gBVjpFqycwnf8jmhodk4dvjUaD-1SyveI4JDKZ2Kse9q39Ew__);
  background-position: center;
  background-size: cover;
}
.img-one4 {
  background-image: url(https://s3-alpha-sig.figma.com/img/637d/4e46/72fc5b0b14fb84317bd7e1d6aae9198d?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PaDkHgqI-hNhktklu6aLHG8RuzgNOPOjYN5uNo5L9LDvS1qI3Yd7hNlMsyVjwqJuaEt~1b4OwWCC4a~LwRUOeGflJ2FPQXFq7JvhHarhX5vaKyKx9GQjk0lLtXXnQJyJJAAKfL5VcTxK8jUL5D2BdqWTNoN7Lc0yBTqHFQ3Nx-wWQwA3EcOjKsLpZKVrmDYkEarBLmkw0~xg7hFuQfxWxwEmv41M3-SIDLY7axoqxWrVTtU6iuBhp4e~0qSCQKqE6PKDNp4PnNitKLIOeLr8d9Kf8uJXK9eupgC1WJMgymiYkV9rUhySYWm9lklDXv~rBXB4Mi~-uOE~U7Z9sReq0g__);
  background-position: center;
  background-size: cover;
}
.label {
  color: #ffffff;
  padding: 10px;
}
/* .labeldiv {
  vertical-align: bottom;
} */
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-TWO */
.main-two {
  /* width: fit-content; */
  width: 1100px;
  background-color: #d1c8c1;
  padding: 50px 20px 50px 20px;
  display: flex;
}
.main-two_content1 {
  /* width: fit-content; */
  width: 1100px;
  flex-basis: 40%;
  text-align: right;
  padding: 50px 10px 50px 50px;
}
.main-two_content2 {
  /* width: fit-content; */
  width: 1100px;
  flex-basis: 60%;
  text-align: left;
  padding: 50px 100px 50px 50px;
}

.border_dashed {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border: 3.38px 0px 0px 0px;
  border-style: dashed;
  color: #f77e23;
  text-align: center;
}
.img-girl {
  width: 1084.19px;
  height: 459.05px;
  top: 1264px;
  left: -258.51px;
  gap: 0px;
  opacity: 0px;
  background-image: url(img/girl.png);
  border-radius: 53890805px;
  background-repeat: no-repeat;
  position: absolute;
  /* border-radius: 538900805px 538900805px 538900805px 538900805px;
  border: 3.38px 0px 0px 0px;
  opacity: 0px; */
}

.experts {
  font-family: Verdana;
  font-size: 40px;
}
button.enroll {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f77e23;
  border: 0;
}
div.enroll {
  padding-top: 40px;
}
/* ----------------------------------------------------------------------------------------------- */
/* PHẦN THỨ BA */
.main-three {
  /* width: fit-content; */
  width: 1100px;
  padding: 50px 20px 50px 20px;
}
img.course-img-item {
  width: 300px;
  height: 150px;
  border-radius: 5px;
}
.course {
  /* width: fit-content; */
  width: 1100px;
  display: flex;
  margin: 20px 50px 0px 50px;
}
.course-item {
  flex-basis: 30%;
  padding: 5px;
  /* border: 1px solid grey;
  box-shadow: grey; */
}
.course-table-item {
  width: 300px;
}
.course-td-item {
  font-size: large;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}
img.down,
img.star-people {
  width: 15px;
  height: 15px;
}
.course-money-item {
  font-size: large;
  color: #f77e23;
}
div.down {
  float: right;
  padding: 50px 70px 30px 0px;
}
button.down {
  color: #ffffff;
  background-color: #f77e23;
  border-radius: 100px 100px 100px 100px;
  border: 0;
}
