.bars {
  display: none;
}
/* Pc */
@media (min-width: 1024px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .course-item {
    flex-basis: 40%;
  }
}
/* Mobie */
@media (max-width: 740px) {
  .main-two--flex {
    flex-direction: column;
    justify-content: center;
  }
  .main-two_content1,
  .main-two_content2 {
    text-align: center;
    margin: auto;
  }
  div.up {
    display: none;
  }
  #header {
    /* padding-top: 56.25%; */
  }
  .header__background {
    background-position-y: center;
    background-position-x: left;
    background-size: auto;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; */
  }
  .nav__head1 {
    display: flex;
    flex-direction: row;
  }
  .bars {
    display: block;
  }
  .header__nav {
    display: block;
  }
  .nav__head2,
  .nav__head3 {
    display: none;
  }
  .bars:hover.nav__head2,
  .bars:hover.nav__head3 {
    display: block;
  }
  /* Main two */
  .content-one {
  }
  /* main four */
  .course-item {
    flex-basis: 40%;
  }
}
