<!-- PHẦN THỨ NHẤT -->
<div class="main-one">
    <div class="gird gird--center">
      <div class="top"><h1>Top cartegories</h1></div>
      <div class="endline"><span class="endline">See all</span></div>
      <div class="main-one_content">
        <div class="content-one">
          <div class="img_one img_one--1">
          </div>
          <div class="label"><p><b>Marketing</b></p></div>

        </div>
        <div class="content-one">
          <div class="img_one img_one--2">
          </div>
          <div class="label"><p><b>Design</b></p></div>

        </div>
        <div class="content-one">
          <div class="img_one img_one--3">
          </div>
          <div class="label"><p><b>Progamming</b></p></div>

        </div>
        <div class="content-one">
          <div class="img_one img_one--4">
          </div>
          <div class="label"><p><b>Technology</b></p></div>

        </div>
      </div>

      <div class="moves moves--one">
        <div class="left">
          <button class="left1">
            <i class="icon_while icon_button fa-solid fa-chevron-left"></i>
          </button>
        </div>
        <div class="right">
          <button class="right1">
            <i class="icon_while icon_button fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>