<!-- PHẦN THỨ TÁM -->
<div class="main-eight">
  <div class="main-eight--flex gird gird--center gird--center--row">
    <div class="main-four_content1 main-four_content1--eight">
      <p class="examination--eight">
        <b
          >Get <span style="color: #f77e23"><ins>Publicstions </ins></span>

          from <br />best Aurtors around <br />the Globe</b
        >
      </p>

      <span>
        Lorem ipsum dolor sit at, consectetur adipielit. Facilisi fermentum,
        dignissim pharetra. pharetra. Aliquam
      </span>
      <div class="test--eight">
        <button class="test--eight">Register</button>
      </div>
    </div>
    <div class="main-four_content2 main-four_content2--eight">
      <div class="border_dashed--four"></div>
      <div class="img-book--eight"></div>
      <div class="box_moves box_moves--8">
        <div class="boxmoves">
          <i
            class="icon_colormain icon_button fa-solid fa-book-open-reader"
          ></i>
        </div>
        <div class="boxmoves">
          <p>
            <span style="color: #f77e23; font-size: 1.5rem"
              ><ins> Readers</ins></span
            ><br />
            <br />
            are <br />
            leaders
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
