<!-- PHẦN THỨ MƯỜI -->
<div class="main-ten">
  <div class="gird gird--center gird--center--column">
    <div class="top"><h1 class="review">Reviews</h1></div>

    <div class="box-ten">
      <div class="box--one">
        <p class="students">
          <b
            >What our<span style="color: #f77e23"><ins>Students</ins></span> say about us</b
          >
        </p>
        <div class="moves moves--ten">
          <button class="left--ten">
            <i class="icon_colormain icon_button fa-solid fa-chevron-left"></i>
          </button>
          <button class="right--ten">
            <i class="icon_colormain icon_button fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="content_ten">
        <div class="box">
          <div class="shadow">
            <div class="aqua">
              <div class="aqua_img--one"></div>
              <div class="aqua_label">
                <p class="aqua_label--label"><b>Mohh Jumah</b></p>
                <p class="aqua_label--label" style="color: #f77e23">
                  Senior Developer
                </p>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
              eaque ullam sapiente quos vel. Possimus distinctio aliquid aut rem
              nemo aliquam, doloremque unde. Quis eligendi error ut repellendus
              cumque non.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="shadow">
            <div class="aqua gird--center--row">
              <div class="aqua_img--two"></div>
              <div class="aqua_label">
                <p class="aqua_label--label"><b>John Mark</b></p>
                <p class="aqua_label--label" style="color: #f77e23">
                  Data Analyst
                </p>
              </div>
            </div>
            <p>
              Magni non obcaecati sit corporis, architecto itaque fugit voluptatem
              mollitia eius ratione modi praesentium tempora pariatur laborum,
              enim totam repellendus a quia voluptatibus, officia odio voluptate.
              Unde, blanditiis? Debitis, possimus?
            </p>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
<!-- ---------------------------------------------------------------------------------- -->