<!-- PHẦN THỨ BẢY CARD -->
<div class="main-seven">
  <div class="gird gird--center">
    <div class="top"><h1>Featured Competition</h1></div>
    <div class="endline"><span class="endline">See all</span></div>
    <div class="main-one_content">
      <div class="content-one">
        <div class="img_one img_one--1"></div>
        <div class="label label--seven">
          <p>
            <b
              >Marketing <br />
              Contest</b
            >
          </p>
          <span>The Future Economy</span>
        </div>
      </div>
      <div class="content-one">
        <div class="img_one img_one--2"></div>
        <div class="label label--seven">
          <p>
            <b
              >UI/UX Design <br />
              Contest</b
            >
          </p>
          <span>Accessibility in design</span>
        </div>
      </div>
      <div class="content-one">
        <div class="img_one img_one--3"></div>
        <div class="label label--seven">
          <p>
            <b
              >Programming <br />
              Contest</b
            >
          </p>
          <span>The Future of AI</span>
        </div>
      </div>
      <div class="content-one">
        <div class="img_one img_one--4"></div>
        <div class="label label--seven">
          <p>
            <b
              >Photography <br />
              Contest</b
            >
          </p>
          <span>The Beauty of Art</span>
        </div>
      </div>
    </div>

    <div class="moves moves--one">
      <div class="left">
        <button class="left1">
          <i class="icon_while icon_button fa-solid fa-chevron-left"></i>
        </button>
      </div>
      <div class="right">
        <button class="right1">
          <i class="icon_while icon_button fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
