<!-- PHẦN THỨ BA -->
<div class="main-three">
  <div class="gird gird--center--column">
    <div class="top"><h1 >Explore our <br> popular course</h1></div>
    <div class="endline"><button class="down"><i class="icon_while icon_button fa-solid fa-chevron-down"></i>&nbsp Sort by</button></div>
    <div class="course">
      <!-- 1------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic1-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Learn Marketing from <br>Top Instructors.</td>
              <td colspan="2"><i class="icon_colormain star-people fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
      <!-- 2------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic2-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Front-end development <br> is not hard as you think</td>
              <td colspan="2"><i class="icon_colormain fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
      <!-- 3------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic3-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Everrything you need to <br>know in UX</td>
              <td colspan="2"><i class="icon_colormain fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
      <!-- 4------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic4-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Learn photography with <br>ease</td>
              <td colspan="2"><i class="icon_colormain fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
      <!-- 5------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic5-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Be a pro in data <br>analysis</td>
              <td colspan="2"><i class="icon_colormain fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
      <!-- 6------------------------------- -->
      <div class="course-item">
        <img src="../IMG/pic6-part3.jpg" alt="" class="course-img-item">
          <table class="course-table-item" >
            <tr class="course-tr-item">
              <td class="course-td-item" colspan="2" >Ethical Harking is not <br>hard as you think </td>
              <td colspan="2"><i class="icon_colormain fa-regular fa-star"></i>4.5</td>
            </tr>
            <tr class="course-tr-item">
              <td><span>6 weeks</span></td>
              <td><span><i class="icon_colormain fa-solid fa-user"></i>1.5k Students</span></td>
              <td class="course-money-item"><b>30.5$</b></td>
            </tr>
          </table>
        </img>
      </div>
    </div> 
  </div>
</div>
