<!-- PHẦN THỨ HAI -->
<div class="main-two">
  <div class="main-two--flex gird gird--center gird--center--row">
    <div class="main-two_content1">
      <div class="border_dashed"></div>
      <div class="img-girl"></div>
      <div class="box_moves box_moves--2">
        <div class="boxmoves"><i class="icon_colormain icon_button fa-solid fa-user"></i></div>
        <div class="boxmoves"><p style=""><span style="color: #f77e23; font-size: 1.5rem;"><ins>Outstanding</ins></span><br>
          <br />
          Instructors</p></div>
        <div class="boxmoves img_tripple gird--center gird--center--row">
          <div class="img_tripple_boy img_tripple_boy--1"></div>
          <div class="img_tripple_boy img_tripple_boy--2"></div>
          <div class="img_tripple_boy img_tripple_boy--3"></div>
        </div>
      </div>
    </div>
    <div class="main-two_content2">
      <p class="experts">
        <b
          >We are <span style="color: #f77e23"><ins>Experts</ín></span>
          <br />
          Learning Institution</b
        >
      </p>
      
      <span
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Perferendis iure blanditiis exercitationem laborum doloremque!
        Aliquid amet impedit pariatur est nesciunt? Minima numquam dolor
        temporibus, ipsa iste dolorum molestias doloremque id.</span
      >
      <div class="enroll"><button class="enroll">Enroll now</button></div>
    </div>
  </div>
</div>