<!-- PHẦN THỨ TƯ -->
<div class="main-four">
  <div class="main-four--flex gird gird--center gird--center--row">
    <div class="main-four_content1">
      <p class="examination">
        <b
          >Our online <br /> <span style="color: #f77e23"><ins>Examination</ín></span>
          is<br /> top-notch</b
        >
      </p>
      
      <span
        > Prepare your self for greater challenges <br> with our online examination.</span
      >
      <div class="test"><button class="test">Take a test</button></div>
    </div>
    <div class="main-four_content2">
      <div class="border_dashed--four"></div>
      <div class="img-girl--four"></div>
      <div class="box_moves box_moves--4">
        <div class="boxmoves"><i class="icon_colormain icon_button fa-solid fa-bag-shopping"></i></div>
        <div class="boxmoves"><p><span style="color: #f77e23; font-size: 1.5rem;"><ins>Increase</ins></span><br>
          <br />
           Your <br> Job opportunity</p></div>
      </div>
    </div>
    </div>
    
  </div>
</div>