<!-- PHẦN THỨ CHÍN CARD Vuông-->
<div class="main-nine">
  <div class="gird gird--center gird--center--column">
    <div class="top">
      <h1 class="top--five">Popular examination</h1>
    </div>
    <div class="endline"><span class="endline">See all</span></div>
    <div class="main-five_content">
      <div class="content-five">
        <div class="img-five img-five--1"></div>
        <div class="label--five">
          <p>
            <b>NATURE <br />of Science</b>
          </p>
        </div>
      </div>
      <div class="content-five">
        <div class="img-five img-five--2"></div>
        <div class="label--five">
          <p>
            <b
              >2022 <br />
              Astro Report</b
            >
          </p>
        </div>
      </div>
      <div class="content-five">
        <div class="img-five img-five--3"></div>
        <div class="label--five">
          <p>
            <b>Data Analysis <br />With Python</b>
          </p>
        </div>
      </div>
      <div class="content-five">
        <div class="img-five img-five--4"></div>
        <div class="label--five">
          <p>
            <b>With Python <br />UX Designs</b>
          </p>
        </div>
      </div>
      <div class="moves moves--five">
        <div class="left--five">
          <button class="left1--five">
            <i class="icon_while icon_button fa-solid fa-chevron-left"></i>
          </button>
        </div>
        <div class="right--five">
          <button class="right1--five">
            <i class="icon_while icon_button fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>