<!-- PHẦN THỨ SÁU FORM -->
<div class="main-six">
  <div class="top">
    <h1 class="top--six">
      Competate with various scholars <br />
      around the globe
    </h1>
  </div>
  <div class="main-six_background">
    <div class="gird gird--center gird--center--row">
      <div class="main-six_content1">
        <div class="border_dashed--six"></div>
        <div class="img-boy--six"></div>
        <div class="box_moves box_moves--6">
          <div class="boxmoves">
            <i class="icon_colormain icon_button fa-solid fa-user"></i>
          </div>
          <div class="boxmoves">
            <p>
              <span style="color: #f77e23; font-size: 1.5rem"
                ><ins>Den</ins></span
              ><br />
              <br />
              of <br />
              Schorlars
            </p>
          </div>
        </div>
      </div>
      <div class="main-six_content2">
        <form class="form--six" action="">
          <h6 style="text-align: center">
            Registration to get notified about new competition and article we
            publish.
          </h6>
          <div class="input">
            <input type="text" class="information" placeholder="Full name" />
            <input type="text" class="information" placeholder="Email" />
            <input type="text" class="information" placeholder="Phone number" />
            <select class="information" name="" style="width: 160px">
              <option value="List of courses goes here ">
                <i class="fa-regular fa-snowflake"></i> List of courses goes
                here
              </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="other">other</option>
            </select>
          </div>
          <div class="endline button--six">
            <button class="button--six">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
