<!-- ---------------------------------------------------------------------------------- -->
<!-- PHẦN FOOTER -->
<footer id="footer" style="color: #fff">
  <div class="background_black">
    <div class="main-footer--flex gird gird--center--column footerbox">
      <div class="footer_box footer_box--1 gird--center--row">
        <div class="footer_box--1--content">
          <p class="head1">FOUNTAIN</p>
          <p>
            We are not here to sell you <br />
            products, we sell value through <br />
            our expertise.
          </p>
          <div class="footer_icon">
            <i class="icon_while fa-brands fa-facebook"></i
            ><i class="icon_while fa-brands fa-square-twitter"></i
            ><i class="icon_while fa-brands fa-instagram"></i
            ><i class="icon_while fa-brands fa-linkedin-in"></i>
          </div>
        </div>
        <div class="footer_box--1--content"></div>
        <div class="footer_box--1--content">
          <p class="fontw">
            <b>Address:</b> <br />38 opebi Road, Ikeja, Lagos State, Nigeia.
          </p>
          <p class="fontw"><b>Phone:</b><br />+2349022396389</p>
          <p class="fontw"><b>Email:</b> <br />contact@contentionary.com</p>
        </div>
        <div class="footer_box--1--content">
          <p class="fontw">
            <b>Company:</b> <br />About Us <br />Features <br />Pricing
          </p>

          <p></p>
        </div>
      </div>
      <div class="footer_box footer_box--2 gird--center gird--center--column">
        <p>Subscribe to get latest updates</p>
        <div class="email_button gird gird--center gird--center--row">
          <input
            type="text"
            value=""
            placeholder="Your Email address"
            style="color: #f77e23"
          />
          <button style="background-color: #f77e23; color: #fff; border: 0">
            Subscribe
          </button>
        </div>
      </div>

      <div class="footer_box footer_box--3 gird--center--row">
        <div class="footer_box--1--content">
          <p class="fontw">
            <b>Address:</b> <br />38 opebi Road, Ikeja, Lagos State, Nigeia.
          </p>
          <p class="fontw"><b>Phone:</b><br />+2349022396389</p>
          <p class="fontw"><b>Email:</b> <br />contact@contentionary.com</p>
        </div>
        <div class="footer_box--1--content">
          <p class="fontw">
            <b>Company:</b> <br />About Us <br />Features <br />Pricing
          </p>
        </div>
      </div>

      <div class="footer_box--3">
        <p class="head1">FOUNTAIN</p>
        <div class="footer_icon">
          <i class="icon_while fa-brands fa-facebook"></i
          ><i class="icon_while fa-brands fa-square-twitter"></i
          ><i class="icon_while fa-brands fa-instagram"></i
          ><i class="icon_while fa-brands fa-linkedin-in"></i>
        </div>
      </div>
    </div>

    <!-- --------------------- -->
    <div>
      <p>
        <span style="color: #f77e23"> &copy; Contentionnary</span>
        &nbsp; Powered By Contentionary
      </p>
    </div>
  </div>
</footer>
