<!-- ---------------------------------------------------------------------------------- -->
<!-- PHẦN THÂN, PHẦN MAIN -->
<div id="main-content">
  <include src="src/components/part1.html"></include>
  <include src="src/components/part2.html"></include>
  <include src="src/components/part3.html"></include>
  <include src="src/components/part4.html"></include>
  <include src="src/components/part5.html"></include>
  <include src="src/components/part6.html"></include>
  <include src="src/components/part7.html"></include>
  <include src="src/components/part8.html"></include>
  <include src="src/components/part9.html"></include>
  <include src="src/components/part10.html"></include>
</div>
